header.header
    .header__column
        a(href=routes.home)
            <i class="fab fa-youtube"></i>
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term ...", name="q")
    .header__column
        ul
            if user.isAuthenticatd
                li
                    a(href=`videos${routes.uploadVideo}`)|Upload video
                li
                    a(href=routes.userDetails(user.id))|Profile
                li
                    a(href=routes.signout) Sign out
            else
                li
                    a(href=routes.signup) Sign Up
                li
                    a(href=routes.signin) Sign In
